.header-toolbar {
    display: flex;
    align-items: center;
    padding: 0 24px;
}


.logo {
    font-size: 20px;
    font-weight: 600;
}


.nav a {
    margin: 0 6px;
    font-size: 14px;
}


.search-field {
    width: 220px;
    margin-left: 12px;
}


.spacer {
    flex: 1 1 auto;
}

.profileIcon {
    margin-left: 5px;
    height: 5px;
    width: 5px;
}